*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background-color: black;
    background-repeat: no-repeat;
}
p{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

img{
    position:absolute;
    margin-left: 30vw;
}

.hog{
    color: white;
    margin-top: 5vh;
    margin-left: 25vw;
}

.position{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    justify-content: space-around;
}

.griff{
    color: red;
}

.huff{
    color: yellow;
}

.raven{
    color: blue;
}

.sly{
    color: rgb(0, 255, 0);
}
